@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono');


.land {
 position: relative;
}

.land-day {
	background-position: 100% 100%;
}
 .land-night{
	background-position: 0 0;
}

#land {
	background-image:linear-gradient(to bottom,#16133a, #48BAFF);
	background-size: 300% 300%;
	transition: 2s ease;
}

#night-btn {
 position: absolute;
 right: 55px;
 top: 62px;
 width: 175px;
 height: 175px;
 border-radius: 50%;
 color: white;
 cursor: pointer;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 font-weight: 700;
 font-family: 'Roboto Mono', monospace;
 font-size: 13px;
 box-shadow: 1px 1px 20px 10px #dea641;
 transition-duration: .7s;
}

#up-down-btns {
 position: absolute;
 top: 260px;
 right: 50px;
 display: flex;
 flex-direction: row;

}

.up-down-btn-style {
 background-color: none;
 border: 1px solid white;
 cursor: pointer;
 text-align: center;
 width: 80px;
 height: 80px;
 color: white;
 font-size: 11px;
 font-family: 'Roboto Mono', monospace;
 border-radius: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: 0 5px;
}

.up-down-btn-style:hover {
 background-color: white;
 color:#78B52A;
 transition-duration: .4s;
}

.up-down-btn-style span {
 font-size: 20px;
}



