#projects-body {
 /* background: url("Images/drum_bg.jpg");
 background-position: right;
 background-size: cover;
 background-repeat: no-repeat;  */
 background-color: #092d5c;
 position: relative;
 height: 100vh;
}

a {
 text-decoration: none;
}

.gears {
 position: absolute;
 top: 20%;
 left: 10px;
 opacity: .6;
}

#gear1  {
 animation: gearRotate 4s infinite linear;
}

#gear2 {
 animation: gearRotateOpp 3.5s infinite linear reverse;
 position: absolute;
 left: 56px;
 top: 93px;
}

#gear3  {
 animation: gearRotate 4s infinite linear;
 right: 56px;
 bottom: 93px;
}

#gear4 {
 animation: gearRotateOpp 3.5s infinite linear reverse;
 position: absolute;
 right: 56px;
 bottom: 93px;
}

@keyframes gearRotate {
 from {transform: rotate(0deg);}
 to {transform: rotate(360deg);}
}

@keyframes gearRotateOpp {
 from {transform: rotate(0deg);}
 to {transform: rotate(360deg);}
}

.project-container {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.project {
 display: flex;
 height: 300px;
 width: 300px;
 background-color: white;
 margin: 10px;
}

.project span {
 align-content: center;
 color: white;
 text-align: center;
 align-self: center;
 margin: 0 auto;
 font-family: 'Roboto Mono', monospace;
 font-size: 18px;
 
}

 #drum {
 background: url("drums/Images/drum_bg.jpg");
 background-position: right;
 background-size: cover;
 background-repeat: no-repeat; 
}

#drum:before:hover {
 content: '';
background-color: black;
}

#clock {
 background: url("images/clock.jpg");
 background-position: right;
 background-size: cover;
 background-repeat: no-repeat; 
}

