@media (max-width: 600px) {
    
}

@import url( 'https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono');
:root {
    --opacity: .5;
    --blur: 40px;
    --spacing: 10px;
    --height: 400px;
    --width: 70%;
    --font: 'Roboto Mono', monospace;
    --fontRaleway: 'Raleway', monospace;
}

body {
    height: 100%;
    background: linear-gradient(90deg, rgb(60, 81, 184), rgb(184, 60, 173));
}

html {
    height: 100%;
}

#calc-container {
    display: flex;
    justify-content: space-around;

}

.calc {
    /* position: absolute;
    top: 10%; */
    display: flex;
    padding: 50px 0;
}

table {
    display: flex;
    align-content: center;
}

.calc tr td {
    width: 60px;
    height: 60px;
    background-color: #ffffff1a;
    text-align: center;
    border: 1px solid #ffffff6e;
    color: white;
    transition: ease all .5s;
    cursor: pointer;
}

#input-numbers {
    width: 100%;
    box-sizing: border-box;
    height: 115px;
    background-color: rgba(255, 255, 255, 0.529); 
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.calc tr td:hover {
    background-color: rgba(199, 201, 202, 0.282);
}

input[type="button"] {
    background-color: #ffffff00;
    border: none;
    color: white;
    font-family: var(--fontRaleway);
}

