@media (max-width: 600px) {
    
}

@import url( 'https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono');
:root {
    --opacity: .5;
    --blur: 40px;
    --spacing: 10px;
    --height: 400px;
    --width: 70%;
    --font: 'Roboto Mono', monospace;
    --fontRaleway: 'Raleway', monospace;
}

body {
    height: 100%;
    background: linear-gradient(90deg, rgb(60, 81, 184), rgb(184, 60, 173));
}

html {
    height: 100%;
}



#calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}


.calc-results {
    text-align: center;
    border: 1px solid #ffffff6e;
    color: white;
    padding: 50px 0 ;
        width: 180px;

}

.calc-numbers {
    display: flex;
    width: 180px;
    flex-wrap: wrap;

}

.calc {
    /* position: absolute;
    top: 10%; */
    display: flex;
    padding: 50px 0;
}


.calc-numbers button {
    width: 60px;
    height: 60px;
    background-color: #ffffff1a;
    text-align: center;
    border: 1px solid #ffffff6e;
    color: white;
    transition: ease all .5s;
    cursor: pointer;
}





